html,body {
	margin: 0px;
	font-family: monospace;
}

h3 {
	text-align: center;
}

p {
	text-align: center;
	font-size: 14px;
}

ul {
	display: inline-flex;
	flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;

    list-style-type: none;
	margin: 0;
	background-color: #333;
	font-size: 15px;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li:hover {
	background-color: #111;
	cursor: pointer;
}

#table-info {
	position: absolute;
	top: 12%;
	margin: 0px;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}

th, td {
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.name-cell:hover {
	cursor: pointer;
}

.body-row:hover {
	background-color: #444;
	color: white;
}

.form {
	display: flex;
	flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    margin-top: 10px;
}

input[type="text"] {
	padding: 5px 8px;
}

input[type="password"] {
	padding: 5px 8px;
}

.home-img {
	width: 100%;
	height: auto;
}

.upd-area {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 500px;
	height: 250px;
	background-color: #F2F3F4;
	border: 2px dashed #333;
	border-radius: 20px;
	text-align: center;
	font-size: 15px;
	margin-top: 10px;
	position: absolute;
	left: 35%;
}

.upd-block {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.user-form {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;

    margin: 5px;
}

.user-cell {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    margin: 5px;
}

.admin-panel {
	display: flex;
	text-align: center;
	width: 300px;
	background-color: #F2F3F4;
	font-size: 15px;
	margin-left: 170px;
	flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: baseline;
}

.cell-form-box {
	margin-left: 10px;
}

#firstname {
	margin-left: 1px;
}

.dashboard-table {
	text-align: center;
	border: 1px solid #333;
	margin-left: 40px;
}

.dashboard-table td, th{
	border-bottom: 0px;
}

.alter-form {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;
    margin: 10px;
    background-color: #F2F3F4;
}

.alter {
	font-size: 15px;
    margin: 10px;
    background-color: #F2F3F4;
}

.delete-cell {
	cursor: pointer;
}

#info-user {
	color : white;
}

.login-block {
	width: 400px;
	height: 200px;
	flex-shrink: 0;
	border-radius: 10px;
	border: 2px solid #000;
	background: rgba(235, 184, 135, 0.01);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

	animation: loginAnimation 1s ease-in-out forwards;
}

@keyframes loginAnimation {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.login-block input[type="text"] {
	width: 200px;
	height: 25px;
	flex-shrink: 0;
	border-radius: 5px;
	border: 2px solid #000;
	background: #FFF;
	margin-top: 5px;	
	margin-left: 5px;
}

.login-block label {
	font-size: 14px;
}

.login-block p {
	font-size: 18px;
}

.login-block input[type="password"] {
	width: 200px;
	height: 25px;
	flex-shrink: 0;
	border-radius: 5px;
	border: 2px solid #000;
	background: #FFF;
	margin-top: 5px;	
	margin-left: 5px;
}

.login-block input[type="submit"] {
	width: 80px;
	height: 25px;
	flex-shrink: 0;
	border-radius: 4px;
	border: 2px solid #000;
	background: #FFF;
	margin-top: 10px;
	margin-left: 50px;
	font-size: 16px;
}

.login-block input[type="submit"]:hover {
	cursor: pointer;
}

.login-form-block {
	display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.login-pos {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}